 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                     <p><img src = img/mev2.jpg alt="Profile Photo" align="right" style="width:250px;height:375px;"> </p>
                </div>
                <div class="col-lg-4">
                   <p>I am a sophomore in computer science at Georgia Institute of Technology in Atlanta, GA. I fell in love with robots years ago, and I'm still interested in solving problems with intelligent (and not so intelligent) machines. AI, design, and outreach are a few of my greatest passions! When I'm not in the shop working on robots, I enjoy sailing at Lake Lanier and playing the flute and piccolo in Georgia Tech Chamber Strings.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://drive.google.com/file/d/0BxCWb4Lrh3M6WEJzUk1uaktHRk0/view?usp=sharing" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> View Resume
                    </a>
                </div>
            </div>
        </div>
    </section>
