 <!-- Welcome Section -->
    <section class="hey" id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Welcome!</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                     <p><img src = img/mev2.jpg alt="Profile Photo" align="left" style="width:250px;height:375px;"> </p>
                </div>
                <div class="col-lg-4">
                   <p>Welcome to my personal website! Feel free to take a look around. You'll find more information about my projects and things I'm involved in as well as links to my social media and resume. Don't forget to check out my blog for even more interesting tidbits!</p>
                </div>
            </div>
        </div>
    </section>
